<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <title>View Result</title>
  </head>
  <body>
    <div class="s01">
      <form>
        <fieldset>
          <h1 style="color: white;">Get Your Result - Provide Info</h1>
        </fieldset>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <input id="search" type="text" placeholder="Registration No"/>
          </div>
          <div class="input-field second-wrap">
            <input id="location" type="number" placeholder="Applicant ID"/>
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">Search</button>
          </div>
        </div>
          <div class="div_back_home">
            <a class="back_home" href="/" style="text-decoration: none; color: white">Back to Home</a>
          </div>
      </form>
    </div>
  </body>
</html>
